<h2>Enter your values:</h2>
<hr/>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label>Value1: </label>
            </div>
            <div class="col-md-4">
                <input type="number" class="form-control" name="value1" ngModel required #name="ngModel">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label>Value2: </label>
            </div>
            <div class="col-md-4">
                <input type="number" class="form-control" name="value2" ngModel required #name="ngModel">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label>Value3: </label>
            </div>
            <div class="col-md-4">
                <input type="number" class="form-control" name="value3" ngModel required #name="ngModel">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label>Value4: </label>
            </div>
            <div class="col-md-4">
                <input type="number" class="form-control" name="value4" ngModel required #name="ngModel">
            </div>
        </div>
    </div>
    <br />
    <button class="btn btn-primary">Calculate</button>
</form>
<hr/>
<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            <p>Result: <strong>{{result}}</strong></p>
        </div>
    </div>
</div>
